* {
  margin: 0%;
  padding: 0%;
  box-sizing: 100%; }

body {
  font-family: monospace;
  background-color: black; }
  body li {
    list-style: none; }

.auric {
  background-color: #39038041; }

header nav {
  background-color: rgba(27, 4, 49, 0.932); }

header .navbar-toggler {
  background-color: rgba(126, 17, 75, 0.397); }

header .nav-link {
  color: aliceblue;
  margin: 0.5rem; }

header img {
  width: 20vh;
  height: 20vh; }

main .banner-inicio {
  width: 100%;
  height: 200px; }

main .setup {
  color: blueviolet;
  font-size: 16px;
  text-align: center; }

main h2 {
  color: white; }

main span {
  color: white; }

footer {
  background-color: rgba(27, 4, 49, 0.932);
  height: auto;
  width: 100%;
  padding-top: 40px;
  color: white; }
  footer .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center; }
  footer .fa-brands {
    color: white;
    padding: 10px; }
    footer .fa-brands:hover {
      color: #a467dd; }
  footer .footer-botton {
    background-color: rgba(137, 43, 226, 0.432);
    padding: 10px 0;
    text-align: center; }
  footer p {
    font-size: 15px;
    word-spacing: 3px; }
  footer span {
    color: #a467dd; }

@media (min-width: 768px) {
  header {
    top: 0; }
    header img {
      width: 15vh;
      height: 15vh;
      margin-left: 5vh; }
    header .nav-link {
      font-size: 15px; }
  main .banner-inicio {
    height: 350px; }
  main .setup {
    font-size: 1rem; }
  main .card {
    margin: 5px; }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
    padding: 20px;
    align-content: space-around; } }

@media (min-width: 1024px) {
  header img {
    width: 20vh;
    height: 20vh; }
  header .nav-link {
    font-size: 30px;
    margin-left: 200px; }
  main {
    min-height: 75vh; }
    main .banner-inicio {
      width: 100%;
      height: 68vh; }
    main .setup {
      color: #8400ff;
      background-color: rgba(128, 0, 128, 0.26);
      font-size: 2.5rem; } }
