header{
    nav{
    background-color: rgba(27, 4, 49, 0.932);
    }
    .navbar-toggler{
        background-color: rgba(126, 17, 75, 0.397);
    }
    .nav-link{
        color: aliceblue;
        margin: 0.5rem;
      }
      img{
        width: 20vh;
        height: 20vh;
      }
  }