main{
    .banner-inicio {
        width: 100%;
        height: 200px;
      }
      .setup {
        color: blueviolet;
        @include fondo(16px);
      }
    h2{
      color: white;
    }
    span{
      color: white;
    }
  }